/* body */

*{
    font-family:Arial;
    color: white;
}
body {
    background: #1a1b1f;
}

.info{
    padding: 15px 20px;
    color: white;
    border-color:  black;
    border-style: none none solid none;
}

.allover{
    margin-bottom: 70px;
    height: 120px;
}

.edit{
    margin-top: 20px;
}

/*//////*/


/* Header */
.header {
    overflow: hidden;
    border: solid;
    border-color: black;
}

.header a {
    float: left;
    color: white;
    height: 15px;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 14px;
    border-color: black;
    border-style: none solid none none;
}

.header a:hover {
    color: red;
	transition: all 0.2s ease;
}
/*//////*/


/* main button */
a.nubex {
    display: inline-block;
	color: white;
	background-color: black;
	user-select: none;
	text-decoration: none;
	outline: none;
	padding: 10px 15px;
	font-size: 20px;
	border-width: 8px;
}
a.nubex:hover {
    color: red;
    box-shadow: 0 0 10px rgba(255, 17, 0);
	transition: all 0.2s ease;
}
/*//////*/


/* title box */
.form-control{
    margin-bottom: 10px;
    display: inline-block;
	color: white;
	background-color: #1a1b1f;
	user-select: none;
	text-decoration: none;
	outline: none;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	padding: 10px 20px;
	width: 500px;
	font-size: 16px;
}
/*//////*/


/* text box */
.form-control1{
    margin-bottom: 10px;
    display: inline-block;
	color: white;
	background-color: #1a1b1f;
	user-select: none;
	text-decoration: none;
	outline: none;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	padding: 10px 20px;
	height: 200px;
	max-width: 700px;
	min-width: 700px;
	font-size: 16px;
}
/*//////*/


/* bottom */
.bottom{
    display: inline-block;
	color: white;
	user-select: none;
	text-decoration: none;
	outline: none;
	background-color: black;
	padding: 10px 15px;
	font-size: 20px;
	border: none;
	border-width: 5px;
}

.bottom:hover {
    color: red;
    box-shadow: 0 0 10px rgba(255, 17, 0);
	transition: all 0.2s ease;
 }
/*//////*/


/* bottom1 */
.bottom1{
    display: inline-block;
	color: white;
	user-select: none;
	text-decoration: none;
	outline: none;
	border: none;
	background-color: black;
	padding: 10px 20px;
	margin-right: 20px;
	font-size: 16px;
	border-color: white;
	border-width: 4px;
}

.bottom1:hover {
    color: red;
    box-shadow: 0 0 10px rgba(255, 17, 0);
	transition: all 0.2s ease;
 }
/*//////*/


/* detail */
.detail{
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
	color: white;
	user-select: none;
	text-decoration: none;
	outline: none;
	background-color: black;
	border: none;
	border-width: 4px;
    padding: 10px 20px;
    font-size: 16px;
}
.detail:hover {
    color: red;
    box-shadow: 0 0 10px rgba(255, 17, 0);
	transition: all 0.2s ease;
}
/*//////*/