{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}

<h2>{{ article.title }}</h2>
<p></p>
<h3>
<div  class = "alert alert-info">
    <div class="info">
        <div class="txt"> {{ article.text }} </div>
    </div>
    <br><a style="margin-top: 20px;" onclick="return confirm('Вы уверены?')" href="/posts/{{ article.id }}/delete" class="bottom">Удалить</a>
    <a href="/posts/{{ article.id }}/upd" class="bottom">Редактировать</a>
  </div>
</h3>
{% endblock %}
