{% extends 'base.html' %}

{% block title %}
Создать
{% endblock %}

{% block body %}
<div style="margin: 20px 0;">
        <form method = "post">
            <input type = "text" name = "title" id = "title" class="form-control" placeholder="Заголовок" autocomplete="off"><br>
            <textarea name = "text" id = "text" class = "form-control1" placeholder="Текст"></textarea><br>
            <input type = "submit" name = "btn btn-success" class="bottom" value = "Создать"><br>
        </form>
</div>
{% endblock %}


